@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.slider_container {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.left_slide {
  height: 100%;
  width: 35%;
  position: absolute;
  top: 0%;
  left: 0;
  transition: transform 0.5s ease-in-out;
}
.left_slide > div {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.left_slide h1 {
  font-size: 40px;
  margin-bottom: 10px;
  margin-top: -30px;
  text-align: center;
}
.right_slide {
  height: 100%;
  position: absolute;
  top: 0;
  left: 35%;
  width: 65%;
  transition: transform 0.5s ease-in-out;
}
.right_slide > div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100%;
  width: 100%;
}
button {
  background-color: hsl(0, 0%, 0%);
  color: aliceblue;
  cursor: pointer;
  font-size: 16px;
  padding: 1em;
  border: none;
}
button:hover {
  background-color: hsla(0, 0%, 0%, 0.575);
}
button:focus {
  outline: none;
}

.slider_container .action_buttons button {
  position: absolute;
  left: 35%;
  top: 50%;
  z-index: 100;
}
.slider_container .action_buttons .down_button {
  transform: translateX(-100%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.slider_container .action_buttons .up_button {
  transform: translateY(-100%);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
